# Introduction to Python Programming

Welcome to this introduction to Python! This notebook will guide you through the fundamentals of Python programming, from basic expressions to more complex data structures.

---

## Python Basics

### Expressions

An **expression** is a combination of values and operators that reduces down to a single value. 

For example, in the expression `2 + 2`:
- `2` is a **value**
- `+` is an **operator** (it does something to the values)

Let's try some basic arithmetic operations:

In [1]:
# Basic addition
2 + 2

4

In [3]:
# Multiplication and addition
3 + 3 * 6

21

In [4]:
# Using parentheses to control order of operations
(3 + 3) * 6

36

#### Other Arithmetic Operators

Python supports several arithmetic operators:
- `+` Addition
- `-` Subtraction
- `*` Multiplication
- `/` Division
- `**` Exponentiation (power)
- `//` Integer division (division that rounds down)
- `%` Modulo (remainder after division)

In [5]:
# Exponentiation - 2 to the power of 3
2 ** 3

8

In [6]:
# Integer division - returns only the whole number part
10 // 3

3

In [7]:
# Modulo - returns the remainder
10 % 3

1

#### Order of Operations

Python follows standard mathematical order of operations (PEMDAS):
1. **P**arentheses
2. **E**xponentiation
3. **M**ultiplication and **D**ivision (left to right)
4. **A**ddition and **S**ubtraction (left to right)

### Data Types

Python has several basic data types. The three most fundamental are:

1. **Strings** - Text data (always have quotes)
2. **Integers** - Whole numbers
3. **Floating point numbers (floats)** - Numbers with decimals

You can check the type of any value using the `type()` function.

In [10]:
# String - always has quotes (single or double)
'This is a string!'

'This is a string!'

In [11]:
# Integer - whole number, no quotes
42

42

In [12]:
# Float - number with decimal
3.14159

3.14159

In [13]:
# Check the type
print(type('hello'))
print(type(42))
print(type(3.14))

<class 'str'>
<class 'int'>
<class 'float'>

#### Type Casting

You can convert between data types using `str()`, `int()`, and `float()` functions:

In [14]:
# Convert integer to string
str(42)

'42'

In [15]:
# Convert string to integer
int('100')

100

In [16]:
# Convert string to float
float('3.14')

3.14

### String Concatenation and Replication

Strings can be added together (concatenation) and "multiplied" (replication). This is very useful for data preparation and visualization!

In [18]:
# String concatenation
'This is a string. ' + 'Lets add another string!'

'This is a string. Lets add another string!'

In [19]:
# String replication
'Python! ' * 3

'Python! Python! Python! '

### Variables

**Variables** are names that we assign to values. They act as aliases, allowing us to store and reuse values throughout our code.

#### Variable Naming Conventions:
- Can contain letters, numbers, and underscores
- Cannot start with a number
- Cannot contain spaces (use underscores instead)
- Are case-sensitive (`myVar` and `myvar` are different)
- Should be descriptive and meaningful

In [20]:
# Assign a value to a variable
my_variable = 5
print(my_variable)

5

In [21]:
# Use variables in operations
my_variable + 3

8

In [22]:
# Variables can hold strings too
greeting = 'Hello, World!'
greeting * 2

'Hello, World!Hello, World!'

In [23]:
# Step 1: Create and display variable
myVariable = 0
print('This is the value of my variable:', myVariable)

# Step 2: Update the variable
myVariable += 2  # This is shorthand for myVariable = myVariable + 2
print('Now I\'m adding 2 to it...')

# Step 3: Display new value
print('This is the new value:', myVariable)

This is the value of my variable: 0
Now I'm adding 2 to it...
This is the new value: 2

---

## Programming with Python

### Flow Control with if-else Statements

**Flow control** allows programs to make decisions about which code to execute. Instead of running every line sequentially, we can create branching logic.

Think of it like a decision tree:
- Is it raining?
  - If YES: Do you have an umbrella?
    - If YES: Go outside
    - If NO: Stay inside
  - If NO: Go outside

#### Boolean Values

**Boolean values** are simply `True` or `False`. They are the result of comparison operations.

#### Comparison Operators

Comparison operators compare two values and return a Boolean value:

| Operator | Meaning |
|----------|--------|
| `==` | Equal to |
| `!=` | Not equal to |
| `<` | Less than |
| `>` | Greater than |
| `<=` | Less than or equal to |
| `>=` | Greater than or equal to |

In [24]:
# Equal to
4 == 4

True

In [25]:
# Not equal to
4 != 4

False

In [26]:
# Less than
3 < 4

True

#### if, elif, else Statements

The syntax for flow control statements requires:
1. A condition that evaluates to `True` or `False`
2. A colon (`:`) after the condition
3. **Indentation** for the code block that should execute if the condition is true

```python
if condition:
    # This code runs if condition is True
else:
    # This code runs if condition is False
```

In [29]:
# Even or odd program - try changing the value of our_number to see if it works
our_number = 5

# Check if the number is even (remainder of 0 when divided by 2)
if our_number % 2 == 0:
    print('We\'re even!')
else:
    print('That\'s a bit odd...')

That's a bit odd...

#### Using elif for Multiple Conditions

`elif` (short for "else if") allows you to check multiple conditions in sequence:

In [31]:
#try to find a value of our_number that will make each of the three print statements run.
our_number = -7

if our_number > 5:
    print('It\'s bigger than 5!')
elif our_number > 0:
    print('At least it\'s positive!')
else:
    print('It\'s negative -__-')

It's negative -__-

---

## Loops

A **loop** allows a program to repeat instructions multiple times. There are two main types of loops in Python:
1. **for loops** - repeat a set number of times
2. **while loops** - repeat as long as a condition is true

### for Loops

for loops commonly use the `range()` function to specify how many times to repeat.

for loops also need to assign an arbitrary variable name to stand-in for the items in the list as the program iterates over them. See examples below. 

**Important:** Python counting starts at 0! The `range()` function goes "up to but not including" the specified number.

In [57]:
# Loop 4 times (0, 1, 2, 3). 
#Let's use the variable i to "stand in" for each item in the list as we loop through them.
for i in range(4):
    print(i)

0
1
2
3

In [58]:
# Specify start and end points
for i in range(6, 10):
    print(i)

6
7
8
9

### while Loops

While loops continue executing as long as a condition remains `True`:

In [34]:
x = 0
while x < 5:
    x += 1
    print('Now x equals', x)

Now x equals 1
Now x equals 2
Now x equals 3
Now x equals 4
Now x equals 5

### Break Statements

The `break` statement immediately exits a loop, regardless of the loop condition:

In [35]:
for i in range(10000000000):
    print(i)
    if i == 4:
        print('Ok, that\'s enough')
        break

0
1
2
3
4
Ok, that's enough

---

## Functions

**Functions** are reusable blocks of code that perform a specific task. They help reduce redundant code and make programs more organized.

### The Mechanics:
- A function typically takes **arguments** (inputs)
- It performs operations on those arguments
- It **returns** a value (output)

### Defining a Function

Use the `def` keyword to define a function:

```python
def function_name(parameters):
    # Code to execute
    return result
```

In [36]:
def add_em_up(a, b):
    c = a + b
    return c

In [37]:
# Call the function
add_em_up(a=3, b=5)

8

### Importing Libraries

Thanks to the massive Python community, thousands of functions have already been written and are available for free. All you have to do is **import** them to your project, and reap the benefits of open-source projects!

Common libraries include:
- `math` - mathematical functions
- `random` - random number generation
- `datetime` - date and time operations
- `calendar` - calendar-related functions

In [38]:
import math

# Use the square root function from the math library
math.sqrt(10000)

100.0

In [39]:
import calendar

# Display a full year calendar
print("The calendar of year 2026 is:")
print(calendar.calendar(2026))

The calendar of year 2026 is:
                                  2026

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1                         1
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       2  3  4  5  6  7  8
12 13 14 15 16 17 18       9 10 11 12 13 14 15       9 10 11 12 13 14 15
19 20 21 22 23 24 25      16 17 18 19 20 21 22      16 17 18 19 20 21 22
26 27 28 29 30 31         23 24 25 26 27 28         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [40]:
# Display just one month
yy = 2026
mm = 2
print(calendar.month(yy, mm))

   February 2026
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28

---

## Lists

**Lists** are one of Python's most important data structures. They store ordered collections of items.

### Key Features:
- Lists are enclosed in **square brackets** `[]`
- Can contain any data type (integers, floats, strings, even other lists!)
- Items are ordered and indexed (starting at 0)
- Lists are mutable (can be changed after creation)

In [43]:
# Create a list with different data types
myList = [7, 0.8, 'apple', True]
myList

[7, 0.8, 'apple', True]

### Indexing

Access individual items using their index (remember: counting starts at 0!):

In [44]:
# Get the first item (index 0)
myList[0]

7

In [45]:
# Negative indexing - get the last item
myList[-1]

True

### Slicing

Get a range of items using slice notation `[start:stop]` ("up to but not including" the stop index). If you want to get all items from the start of the list up to a stoping point, you can leave off the starting index (ie, `[:stop]`). This works the same for items from a starting point to the end of the list (ie. `[start:]`)

In [46]:
# Get the second and third items in the list (indices 1 and 2)
myList[1:3]

[0.8, 'apple']

In [47]:
# Get first two items (indices 0 and 1)
myList[:2]

[7, 0.8]

In [48]:
# Get the second item through the end of the list (indices 1, 2, 3)
myList[1:]

[0.8, 'apple', True]

### List Length

Use `len()` to find how many items are in a list:

In [49]:
len(myList)

4

### Looping Through Lists

Use for loops to iterate through each item in a list:

In [50]:
for item in myList:
    if item == 'apple':
        print('Found an apple!')
    else:
        print('Not an apple')

Not an apple
Not an apple
Found an apple!
Not an apple

### Updating Values

Change items in a list by assigning a new value to a specific index:

In [51]:
# Change the third item
myList[2] = 'banana'
myList

[7, 0.8, 'banana', True]

### Nested Lists

Lists can contain other lists:

In [52]:
myOtherList = ['banana', 5, False, myList]
myOtherList

['banana', 5, False, [7, 0.8, 'banana', True]]

---

## Dictionaries

**Dictionaries** store data in **key-value pairs**. Think of them like a real dictionary:
- The **key** is like a word you look up (similar to a column name)
- The **value** is like the definition (the actual data)

### Key Features:
- Enclosed in **curly braces** `{}`
- Keys must be unique
- Values can be any data type (including lists, or another dictionary!)
- Access values using keys instead of numeric indices

In [53]:
# Create a dictionary
d_example = {
    'make': 'honda',
    'mpg': 32,
    'reasons_for_buying': [
        'it looked cool',
        'it was affordable',
        'it could fit a car seat'
    ]
}
d_example

{'make': 'honda',
 'mpg': 32,
 'reasons_for_buying': ['it looked cool',
  'it was affordable',
  'it could fit a car seat']}

### Accessing Values

Retrieve values by using their key:

In [54]:
# Get the value for 'make'
d_example['make']

'honda'

In [55]:
# Get the value for 'mpg'
d_example['mpg']

32

### Looping Through Dictionaries

Loop through keys:

In [56]:
# Loop through keys only
for keys in d_example:
    print(keys)

make
mpg
reasons_for_buying

Loop through both keys and values using the `.items()` method:

In [60]:
# Loop through keys and values
for keys, values in d_example.items():
    print('The key is:', keys)
    print('The value is:', values)
    print('---')

The key is: make
The value is: honda
---
The key is: mpg
The value is: 32
---
The key is: reasons_for_buying
The value is: ['it looked cool', 'it was affordable', 'it could fit a car seat']
---

---

## Practice Exercises

Try these exercises to reinforce what you've learned!

### Exercise 1: Variables and Math

Create two variables:
- `a` = 10
- `b` = 3
- Calculate and print: `a + b`, `a * b`, `a / b`, `a % b`, `a ** b`

In [ ]:
# Your code here

### Exercise 2: Flow Control

Write a program that:
1. Creates a variable called `temperature`
2. If temperature is above 80, print "It's hot!"
3. If temperature is between 60 and 80, print "It's nice!"
4. Otherwise, print "It's cold!"

In [ ]:
# Your code here

### Exercise 3: Lists

Create a list of your favorite foods and:
1. Print the entire list
2. Print the first item
3. Print the last item
4. Print the length of the list
5. Loop through and print each item

In [ ]:
# Your code here

### Exercise 4: Functions

Write a function called `is_even` that:
- Takes one parameter (a number)
- Returns `True` if the number is even
- Returns `False` if the number is odd
- Test it with a few numbers

In [ ]:
# Your code here

### Exercise 5: Functions (Advanced)

Write a function that takes a list as an input and returns each item in the list one time along with how many times that item appears in the list.

For example, the function should take the following list and return the output:
```python
testList=['apple', 'orange', 'apple','orange', 'pear', 'mango', 'orange', 'mango', 'banana', 'blueberry', 'orange', 'blueberry']

item_counter(testList)

apple : 2
orange : 4
pear : 1
mango : 2
banana : 1
blueberry : 2
```
See the last cell of the notebook for a possible solution

In [79]:
testList=['apple', 'orange', 'apple','orange', 'pear', 'mango', 'orange', 'mango', 'banana', 'blueberry', 'orange', 'blueberry']

def item_counter(x):
    #your code here

In [ ]:
#test your function below
item_count(testList)

---

## Congratulations!

You've learned the fundamentals of Python programming:
- ✅ Expressions and operators
- ✅ Data types (strings, integers, floats)
- ✅ Variables
- ✅ Flow control (if/elif/else)
- ✅ Loops (for and while)
- ✅ Functions
- ✅ Lists
- ✅ Dictionaries

These building blocks will serve as the foundation for more advanced Python programming and data analysis!

# Solution to Excercise 5

```python 
testList=['apple', 'orange', 'apple','orange', 'pear', 'mango', 'orange', 'mango', 'banana', 'blueberry', 'orange', 'blueberry']

def item_counter(x):
    d_items={}
    for item in x:
        if item not in d_items:
            d_items[item]=1
        else:
            d_items[item]+=1
    for keys, values in d_items.items():
        print(keys, ':', values) 
```