In [2]:
my_variable=0

print(my_variable+3

3

In [3]:
print('hello!')

hello!

In [6]:
print('hello!')

my_variable=2

print(my_variable + 2)

hello!
4

In [1]:
2+2

4

In [2]:
2+3*6

20

In [3]:
(2+3)*6

30

In [1]:
'this is a string.' + 'this is another string!'

'this is a string.this is another string!'

In [4]:
variable='this is a string!'
variable*3

'this is a string!this is a string!this is a string!'

In [5]:
#step 1
myVariable=0
print('This is the value of my variable: ', myVariable)

#step 2
myVariable+=2
print('Now Im adding 2 to it...')

#step 3
print('This is the new value: ', myVariable)

This is the value of my variable:  0
Now Im adding 2 to it...
This is the new value:  2

In [7]:
4 == 4

True

In [8]:
4 != 4

False

In [9]:
3 < 4

True

In [10]:
#first, set the value of our variable. Make it any number you want
our_number=5

#next, let's decide what to do if our number divided by two has no remainder
if our_number%2==0:
  print('We\'re even!')

#if it does have a remainder, what should we do instead?
else:
  print('That\'s a bit odd...')

That's a bit odd...

In [13]:
our_number=-7

if our_number > 5:
    print('its bigger than 5!')

elif our_number > 0:
    print('at least its positive!')

else:
    print('its negative -__-')

its negative -__-

In [14]:
for i in range(4):
    print(i)

0
1
2
3

In [16]:
for i in range(6,10):
    print(i)

6
7
8
9

In [19]:
x=0
while x < 5:
    x+=1
    print('now x equals ', x)

now x equals  1
now x equals  2
now x equals  3
now x equals  4
now x equals  5

In [20]:
for i in range(10000000000):
    print(i)
    if i==4:
        print('ok thats enough')
        break

0
1
2
3
4
ok thats enough

In [21]:
def add_em_up(a,b):
    c = a + b
    return c

In [24]:
add_em_up(a=3, b=5)

8

In [31]:
import math

math.sqrt(10000)

100.0

In [32]:
import calendar 
print ("The calendar of year 2018 is : ") 
print (calendar.calendar(2018))

The calendar of year 2018 is :
                                  2018

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25      19 20 21 22 23 24 25
29 30 31                  26 27 28                  26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31

In [33]:
yy = 2017
mm = 11
print(calendar.month(yy, mm))

   November 2017
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [35]:
myList=[1, 0.8, 'apple', True]
myList

[1, 0.8, 'apple', True]

In [46]:
myList[:2]

[1, 0.8]

In [39]:
myList[-1]

True

In [47]:
len(myList)

4

In [48]:
for item in myList:
    if item=='apple':
        print('found an apple!')
    else:
        print('not an apple')

not an apple
not an apple
found an apple!
not an apple

In [37]:
myOtherList=['banana', 5, False, myList]
myOtherList

['banana', 5, False, [1, 0.8, 'apple', True]]

In [53]:
d_example={'make': 'honda',
           'mpg': 32,
           'reasons_for_buying': [ 'it looked cool', 
                                   'it was affordable', 
                                   'it could fit a car seat']}
d_example

{'make': 'honda',
 'mpg': 32,
 'reasons_for_buying': ['it looked cool',
  'it was affordable',
  'it could fit a car seat']}

In [52]:
d_example['make']

'honda'

In [54]:
for x in d_example:
    print(x)

make
mpg
reasons_for_buying

In [56]:
for keys, values in d_example.items():
    print('the key is: ', keys)
    print('the value is: ', values)

the key is:  make
the value is:  honda
the key is:  mpg
the value is:  32
the key is:  reasons_for_buying
the value is:  ['it looked cool', 'it was affordable', 'it could fit a car seat']